/* General designs */
body{
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}


#mainframe h1{
    text-align: center;
}

/* General designs end */

/* Login and Signup page design */

div.content_body{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    vertical-align:middle;
    margin-top: 10%;
    border-radius: 5%;
    background-color: white;
}

#submit{
    background-color: #57b846;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 100px;
    color: white;
}

#submit:hover{
    background-color: black;
}

div.content_body input{
    width: 200px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 10px;
}

div.danger{
    background-color: red;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    transition: all 1s;
}


div.danger_signup{
    background-color: red;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
}

/* Login and Signup page design end */
