/* General designs */
body{
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}


#mainframe h1{
    text-align: center;
}

/* General designs end */

/* Login and Signup page design */

div.content_body{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    vertical-align:middle;
    margin-top: 10%;
    border-radius: 5%;
    background-color: white;
}

#submit{
    background-color: #57b846;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 100px;
    color: white;
}

#submit:hover{
    background-color: black;
}

div.content_body input{
    width: 200px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 10px;
}

div.danger{
    background-color: red;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    transition: all 1s;
}


div.danger_signup{
    background-color: red;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
}

/* Login and Signup page design end */

.q_div{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
}

/* Table design */
table.general_table_design{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1000px;
    border-collapse: collapse;
    border-radius: 30px;
}

table.general_table_design td{
    border: #111 solid 1px;
    height: 50px;
    width: 330px;
    cursor: pointer;
}

table.general_table_design tbody > tr:hover{
    background-color: grey;
}

table.general_table_design th{
    background-color: #111;
    color: white;
    height: 50px;
}

table.general_table_design th:first-child{
    border-top-left-radius: 30px;
}

table.general_table_design th:last-child{
    border-top-right-radius: 30px;
}

table.general_table_design td:nth-child(2){
    text-align: center;
}

table.general_table_design td:nth-child(3){
    text-align: center;
}


/* Table design end */

/* Porifle and welcome page design */
div.welcome_page{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

div.profile{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.answers_watch{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* Porifle and welcome page design end */

/* Questionnaire form design */
div.quest_box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: #111 solid 1px;
    border-radius: 30px;
    width: 1000px;
    height: 100%;
}


form.quest_form{
    display: inline-block;
    text-align: left;
}

form.quest_form p{
    font-size: 20px;
}

form.quest_form input{
    width: 800px;
    height: 50px;
    font-size: 20px;
}
/* Questionnaire form design end */

/* Answer save button design */
#save_button{
    width: 400px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

div.save_box{
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: -49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}
/* Answer save button design end */

/* User answers design */
div.answer_box{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 1000px;
    text-align: left;
}

div.answer_box p{
    font-size: 20px;
}
/* User answers design end */
